* {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

/*First Screen*/

#startScreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#welcomeScreen {
    background-color: #A7C7FC;
    width: 50vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border: 2px solid black;
    box-shadow: 5px 5px 10px 0px grey;
    border-radius: 10px;
}

#welcomeScreen h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
    padding-top: 0px;
    font-family: 'Architects Daughter', cursive;
    
}

#btnStart {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #03113A;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

#btnStart:hover {
    box-shadow: 1px 2px 4px 4px grey;
}

#wp1, #wp2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
            
}

#wp2 {
    padding-bottom: 20px;
}

#wp1 img,
#wp2 img {
    height: 5vh;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#nwp1, #nwp2 {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border-width: 0.5px;
    font-weight: 1000;
    font-size: 1.2rem;
    padding: 5px;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    animation: up 3s infinite alternate;
    font-family: "Architects Daughter", cursive;
    font-size: 50px;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-900px) rotate(900deg);
    }
}


/*Game Screen




*/


#gameScreen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#gameScreen h1{
    font-size: 40px;
    margin: 50px;
    margin-left: 150px;
}


#gamePage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    height: 100vh;
    width: 100%;
}


#boardGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}


table {
    border-collapse: collapse;
    border-spacing: 10px 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-table;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 100px;;
}

table #A1, #B1, #C1{
    border-top: none;
}

table #A3, #B3, #C3 {
    border-bottom: none;
}

table #A1, #A2, #A3 {
    border-left: none;
}

table #C1, #C2, #C3 {
    border-right: none;
}

td {
    font-size: 2rem;
    border-style: solid;
    height: 80px;
    width: 80px;
}

td.fill {
    cursor:not-allowed;
}

td:not(.fill):hover {
    
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
}

.O td:not(.fill):hover::before {
    content: "O";
    
}

.X td:not(.fill):hover::before {
    content: "X";
    
}

#btnsBoardGame {
    display: flex;
    align-items: center;
    justify-content: center;
}


#btnNewGame,
#btnClose{
    margin-bottom: 50px;
    margin-left: 100px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #03113a;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 1000;
    color: white;
    font-size: 1.2rem;

    align-items: center;
    align-content: center;
    
    opacity: 0.9;
    transition: 0.4s;
    cursor: pointer;
}
#btnNewGame:hover,
#btnClose:hover {
    opacity: 1;
    box-shadow: 1px 2px 4px 2px #A9A9A9;
}







#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#playerimg, #players {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    
}

#playerimg img {
    height: 10vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#playerO, #playerX {
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 700;
}

#playerO {
    margin-bottom: 15px;
}

#nameO, #nameX {
    margin-bottom: 5px;
}








/*Modal Screen
//
//
//
//
//
//
*/
#modal {
    width: 30vw;
    height: 30vh;
    
    position: fixed;
    left: 50%; /*borda*/
    top: 50%;
    transform: translate(-50%, -50%); /* descola o ponto para cálculo da borda*/
    
    z-index: 10;
    border: 1px solid black;
    background-color: #fffafa;
    border-radius: 10px;
    overflow: hidden;
      
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#stage {
    height: 23vh;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    perspective: 1000px;
}

#msgModal{
    margin-top: 1.8vh;
    font-size: 1.3rem;
    font-weight: 800;
    position: absolute;
    font-family: 'Lato', sans-serif;

    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    text-shadow: 2px 2px 4px gray
    
}

#stage img{
    height: 22vh;
    /* position: absolute; */
}

#modal button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #03113a;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0.9;
    transition: 0.4s;
    cursor: pointer;
}

#modal button:hover {
    opacity: 1;
    box-shadow: 1px 2px 4px 2px #A9A9A9;
}

#fade {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none; /*desabilita o evento de click com opacidade = 0*/
}

#modal.hide{
    top: 0; /*indica que ficará na posição 0 para fazer o movimento após ser ativado*/
}

#fade, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all; /*indica que os eventos somente funcionarão quando opacidade = 1*/
}


